extends layout

block content
    div#about.container.container-with-padding-top
        div#kezhan.page-header
            h1 关于阿贵龙门客栈
            p=lorem
            p=lorem
            p=lorem
            p=lorem
            p=lorem
            p=lorem
        div#zhishu.page-header
            h1 关于阿贵散户指数
            p=lorem
            p=lorem
            p=lorem
        div#site.page-header
            h1 关于本站
            p=lorem
            p=lorem
            p=lorem